<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Masasamjant.Passwords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Masasamjant.Passwords.Properties.Settings>
            <setting name="MinLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MaxLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="UseLowerCaseLetters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseUpperCaseLetters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSpecials" serializeAs="String">
                <value>True</value>
            </setting>
        </Masasamjant.Passwords.Properties.Settings>
    </userSettings>
</configuration>